* {
  /* margin: 0px; */
  padding: 0px;
}

/* 
some font family for the body */
p , label,div{
  font-family: 'Proza Libre', sans-serif;
}

h1 ,h2,nav , a 
{
  font-family: 'Open Sans', sans-serif;
}

/* 
some placeholder for the form */

input[type="email"] {
  font-size: 20px;
}


::placeholder {
  color: rgb(182, 182, 182);
  font-size: 18px;
  font-family: 'Proza Libre', sans-serif;
}

/* Chrome/Opera/Safari */

::-webkit-input-placeholder {
  color: rgb(182, 182, 182);
}

/* Firefox 19+ */

::-moz-placeholder {
  color: rgb(182, 182, 182);
  font-size: 13px;
}

/* IE 10+ */

:-ms-input-placeholder {
  color: rgb(182, 182, 182);
  font-size: 13px;
}


/* 
start layout for the body */


h1{
  text-align: center;
  padding: 18px;
  color:white;
 }
 
 
 h1.intro ,h2{
   color: black;
   text-align: center;
   margin: 12px;
 }


 p{
  color: black;
  text-align: center;
  font-size: 25px;
 }
 


header{
 background-color: rgb(0, 0, 0);
 height: 70px;
 padding:8px;
}

nav{
 background-color: #242424;
 height: 20px;
 padding: 8px;
 text-align: center;
}



a{
 margin-left: 17px;
 color: rgb(255, 255, 255);
 font-weight: bold;
}


label 
{
  font-size:20px;
  color: white;
  padding: 19px 10px 10px 10px;
  /* text-align: center; */
}

p,td{
  font-size: 22px;
}

/* 
home page design css */

.first-section {
  color: white;
  margin: 20px;
  padding: 20px;
  flex-direction: column;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}


p.form{
 color: rgb(255, 255, 255);
 text-align: center;
 font-size: 21px;
 margin:3px 5px 10px 10px;
 padding:20px;
}

form{
 background-color:#303030;
 height: 509px;
}

#inputbox{
 height: 52px;
 width: 237px;
}

#emailinputbox
{
 height: 52px;
 width: 184px;
}

#messageinputbox{
 height: 148px;
 /* width: 491px; */
}

#submit{
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: 30px;
 width: 60px;
}

.wrapper{
 display: block;

}

/* 
form alignment thing  */

.form-align
{
  padding: 10px 10px 10px 10px;
  display: flex;
}

.form-align > label 
{
  flex: 1;
}

.form-align > input {
  flex: 2;
}

p.about{
  text-align: center;
  font-size: 20px;

}

section{
  height: 883px;
}


/* 
flex direction for the video  */

 .flex-video{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  display: block;
  height:500px;
}


.flex-about {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

div.aboutus {
  padding: 5px;
  margin: 10px 45px 13px 42px;
}



div {
  padding: 4px;
  margin: 11px 93px 21px 40px;
}



.flex-book {
  display: flex;
  flex-direction: row;
}



/* 
 for for the booking page */

 tbody
 {
   padding: 10px 10px 10px 10px;
   margin-left: auto;
   margin-right: auto;
 }

 table
 {
   
   margin-left: auto; 
   margin-right: auto;
 }

 td 
 {
   text-align: left;
   padding: 10px 61px 10px 10px;
   margin: 16px 38px 60px 69px;
 }


 tr
 {
   text-align: center;
   padding: 10px 10px 10px 10px;
   margin: 24px 50px 75px 100px;
 }

 #booknow{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 36px;
  width: 111px;
  color:white;
  background-color: black;
  border: none;
 }


 .button {
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: -5px;
  padding: 20px;
  width: 163px;
  height: 52px;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}




/* 
some footer design include image and flex direction */

 footer{
  background-color: rgb(0, 0, 0);
  height: 131px;
  position: relative;
  /* width: 102%; */
 }
 
p.footer{
  text-align:left;
  position: absolute;
  color: white;
  font-size: 18px;
  bottom: 8px;
  left: 16px;
 }
 
 
img.footer{
  width:50px;
  height:50px;
  margin: 0px 10px 10px 20px;
 }
 

.flex-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  left: 38%;
  top:20%;
 }


iframe{
  border-width: 0px;
}

 /* .flex-video iframe, .flex-video object, .flex-video embed {
  width: 97%;
  height: 38%;
} */


 /* some media query  to fit for all pages*/

@media only screen and (max-width: 1127px) {

  .flex-video{
   display: flex;
   flex-direction: row;
   text-align: center;
   /* margin: 0 auto; */
   display: block;
   height:700px;
  }

  img {
    height: 414px;
  }

  div.aboutus {
    padding: 5px;
    margin: 10px 45px 13px 42px;
  }

}

@media only screen and (max-width: 816px) {

  td {
    text-align: center;
    padding: 10px 37px 10px 10px;
    margin: 1px 0px 13px 13px;
    display: block;
    flex-direction: row;
  }

  section
  {
    height: 1183px;
  }

}


@media only screen and (max-width: 750px) {

   .flex-about {
    flex-direction: column;
    margin: 10px 10px 10px 10px;
  }

}


@media only screen and (max-width: 670px) {

  .flex-video iframe, .flex-video object, .flex-video embed {
    width: 97%;
    height: 49%;
  }

  .flex-container {
    left: 25%;
    top:20%;
   }


   form {
    height: 515px;
  }

  footer {
    height: 147px;
}
 
}


@media only screen and (max-width: 639px) {

  img {
    height: 311px;
  }
 
}

@media only screen and (max-width: 399px) {


  img.home {
    height: 243px;
    width: 295px;
   }

  form {
    height: 540px;
  }

  .flex-container {
    left: 5%;
    top: 20%;
}


footer {
  height: 147px;
}


                               
.flex-video {
    height: 595px;
}


.flex-video iframe, .flex-video object, .flex-video embed {
  width: 95%;
  height: 40%;
}

 
}

@media only screen and (max-width: 340px) {

  nav{
    height: 60px;
   }

  label{
    font-size:12px;
  }

}



@media only screen and (max-width: 300px) {


  section{
    height: 1270px;
  }

  .flex-video {
   display: flex;
   flex-direction: row;
   text-align: center;
   display: block;
   height: 368px;
}
   footer {
  height: 143px;
}

.flex-container {
  left: 0%;
}

img.footer {
  width: 46px;
  height: 46px;
}


img.home {
  height: 198px;
  width: 236px;
 }


#inputbox {
    height: 52px;
    width: 191px;
}
 
}

