* {
  margin: 0px;
  padding: 0px;
}


p{
  font-family: 'Proza Libre', sans-serif;
}


h1 ,h2,nav , a 
{
  font-family: 'Open Sans', sans-serif;
}


input[type="email"] {
  /* font-family: 'Proza Libre', sans-serif; */
  font-size: 20px;
}


::placeholder {
  color: rgb(182, 182, 182);
  font-size: 18px;
  font-family: 'Proza Libre', sans-serif;
}

/* Chrome/Opera/Safari */

::-webkit-input-placeholder {
  color: rgb(182, 182, 182);
}

/* Firefox 19+ */

::-moz-placeholder {
  color: rgb(182, 182, 182);
  font-size: 13px;
}

/* IE 10+ */

:-ms-input-placeholder {
  color: rgb(182, 182, 182);
  font-size: 13px;
}


h1{
  text-align: center;
  padding: 18px;
  color:white;
 }
 
 h1.intro ,h2{
   color: black;
   text-align: center;
 }


header{
 background-color: rgb(0, 0, 0);
 height: 70px;
 padding:8px;
}

nav{
 background-color: #242424;
 height: 20px;
 padding: 8px;
 text-align: center;
}

a{
 /* margin-left: 23px; */
 color: rgb(255, 255, 255);
 font-weight: bold;
}


#top-href{
  margin-left: 20px;

}

.first-section {
 
 color: white;
 margin: 20px;
 padding: 20px;

}
img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: 500px;
}

p{
 color: black;
 text-align: center;
 font-size: 30px;

}




p.form{
 color: rgb(255, 255, 255);
 text-align: center;
 font-size: 21px;
 margin:3px 5px 10px 10px;
 padding:20px;
}

form{
 background-color:#303030;
 height:250px;

}

#inputbox{
 height:30px;
}
#messageinputbox{
 height:50px;
 width: 300px;
}

#submit{
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: 30px;
 width: 60px;
}


p.about{
  text-align: center;
  font-size: 20px;

}






footer{
  background-color: rgb(0, 0, 0);
  height: 130px;
  position: relative;
  /* width: 102%; */
 }
 
p.footer{
  text-align:left;
  position: absolute;
  color: white;
  font-size: 18px;
  bottom: 8px;
  left: 16px;
 }
 
 
img.footer{
  width:50px;
  height:50px;
  margin: 0px 10px 10px 20px;
 }
 

.flex-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  left:45%;
  top:20%;
 }


 .flex-video{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  display: block;
  height:500px;
}






 /* some media query */

@media only screen and (max-width: 1127px) {

  .flex-video{
   display: flex;
   flex-direction: row;
   text-align: center;
   /* margin: 0 auto; */
   display: block;
   height:700px;
  }

  img {
    height: 414px;
  }
 
}


@media only screen and (max-width: 670px) {

  .flex-video iframe, .flex-video object, .flex-video embed {
    width: 97%;
    height: 38%;
  }

  .flex-container {
    left: 17%;
    top:20%;
   }

   form {
    height: 314px;
  }
 
}


@media only screen and (max-width: 639px) {

  img {
    height: 311px;
  }
 
}

@media only screen and (max-width: 399px) {

  img {
    height: 265px;
  }

  form {
    height: 399px;
  }
 
}

@media only screen and (max-width: 340px) {

  nav{
    height: 60px;
   }

}



@media only screen and (max-width: 300px) {


  .flex-video {
   display: flex;
   flex-direction: row;
   text-align: center;
   display: block;
   height: 368px;
}
   footer {
  height: 130px;
}

.flex-container {
  left: 17%;
}

img.footer {
  width: 30px;
  height: 30px;
}

 
}

