* {
  margin: 0px;
  padding: 0px;
}



h1{
 text-align: center;
 padding: 18px;
 color:white;
}

h1.intro {
  color: black;
  text-align: center;
}


header{
 background-color: rgb(0, 0, 0);
 height: 70px;
}

nav{
 background-color: #242424;
 height: 20px;
 padding: 8px;
 text-align: center;
}

a{
 /* margin-left: 23px; */
 color: rgb(255, 255, 255);
 font-weight: bold;
}


#top-href{
  margin-left: 20px;

}

.first-section {
 
 color: white;
 margin: 20px;
 padding: 20px;

}
img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: 500px;
}

p{
 color: black;
 text-align: center;
 font-size: 30px;

}




p.form{
 color: rgb(255, 255, 255);
 text-align: center;
 font-size: 21px;
 margin:3px 5px 10px 10px;
 padding:20px;
}

form{
 background-color:#303030;
 height:250px;

}

#inputbox{
 height:30px;
}
#messageinputbox{
 height:50px;
 width: 300px;
}

#submit{
 display: block;
 margin-left: auto;
 margin-right: auto;

}



footer{
  background-color: rgb(0, 0, 0);
  height: 130px;
  position: relative;
 }
 
p.footer{
  text-align:left;
  position: absolute;
  color: white;
  font-size: 18px;
  bottom: 8px;
  left: 16px;
 }
 
 
img.footer{
  width:50px;
  height:50px;
  margin: 0px 10px 10px 20px;
 }
 

.flex-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
  left:45%;
  top:20%;
 }


 .flex-video{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  display: block;
  height:500px;
}






 /* some media query */

@media only screen and (max-width: 1127px) {

  .flex-video{
   display: flex;
   flex-direction: row;
   text-align: center;
   margin: 0 auto;
   display: block;
   height:700px;

  }

  img {
    height: 200px;
}
 
}

@media only screen and (max-width: 540px) {

  .flex-video iframe, .flex-video object, .flex-video embed {
    width: 97%;
    height: 38%;
  }

  .flex-container {
    left: 17%;
    top:20%;
   }

   form {
    background-color: #303030;
    height: 314px;
  }
 
}

